In [13]:
!!pip install psycopg2
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\agribazaar\anaconda3\lib\site-packages (2.9.3)

In [14]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text

In [15]:
sql = """
SELECT top 10 * 
FROM 
pg_user
;
"""

In [17]:
redshift_endpoint1 = "redshift-cluster-1.cqunbzze7abb.us-east-1.redshift.amazonaws.com"
redshift_user1 = "awsuser"
redshift_pass1 = "Manoj007"
port1 = 5439 #whaterver your Redshift portnumber is
dbname1 = "dev"

In [18]:
from sqlalchemy import create_engine
from sqlalchemy import text
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" \
% (redshift_user1, redshift_pass1, redshift_endpoint1, port1, dbname1)
engine1 = create_engine(engine_string)

In [19]:
df1 = pd.read_sql_query(text(sql), engine1)

In [20]:
df1.head()

,usename,usesysid,usecreatedb,usesuper,usecatupd,passwd,valuntil,useconfig
0,rdsdb,1,True,True,True,********,infinity,None
1,awsuser,100,True,True,False,********,None,None