In [43]:
import petl as etl
import pandas as pd

In [36]:
import sqlite3

sqlitedb ='demo.db'
# connect db
conn = sqlite3.connect(sqlitedb) 
conn

In [37]:
# CRUD : Create, Read, Update, Delete
cursor = conn.cursor()

In [38]:
# create a table
sql = ''' create table if not exists employee(
  id integer PRIMARY KEY AUTOINCREMENT,
  full_name char(30) not null,
  age int,
  email char(30)
)'''

cursor.execute(sql)
conn.commit() # commit
print('created a table')

created a table

In [39]:
# create data

cursor.execute(" insert into employee(full_name,age,email) values('employee 1',20,'employee1@email.com')  ")
cursor.execute(" insert into employee(full_name,age,email) values('employee 2',25,'employee2@email.com')  ")
cursor.execute(" insert into employee(full_name,age,email) values('employee 3',27,'employee3@email.com')  ")
cursor.execute(" insert into employee(full_name,age,email) values('employee 4',28,'employee4@email.com')  ")
cursor.execute(" insert into employee(full_name,age,email) values('employee 5',22,'employee5@email.com')  ")
conn.commit() # commit
print('inserted data')

inserted data

In [40]:
# read data
cursor.execute(" select * from employee ")
result = cursor.fetchall() # get all
conn.commit()
result

[(1, 'employee 1', 20, 'employee1@email.com'),
 (2, 'employee 2', 25, 'employee2@email.com'),
 (3, 'employee 3', 27, 'employee3@email.com'),
 (4, 'employee 4', 28, 'employee4@email.com'),
 (5, 'employee 5', 22, 'employee5@email.com'),
 (6, 'employee 1', 20, 'employee1@email.com'),
 (7, 'employee 2', 25, 'employee2@email.com'),
 (8, 'employee 3', 27, 'employee3@email.com'),
 (9, 'employee 4', 28, 'employee4@email.com'),
 (10, 'employee 5', 22, 'employee5@email.com')]

In [41]:
result

[(1, 'employee 1', 20, 'employee1@email.com'),
 (2, 'employee 2', 25, 'employee2@email.com'),
 (3, 'employee 3', 27, 'employee3@email.com'),
 (4, 'employee 4', 28, 'employee4@email.com'),
 (5, 'employee 5', 22, 'employee5@email.com'),
 (6, 'employee 1', 20, 'employee1@email.com'),
 (7, 'employee 2', 25, 'employee2@email.com'),
 (8, 'employee 3', 27, 'employee3@email.com'),
 (9, 'employee 4', 28, 'employee4@email.com'),
 (10, 'employee 5', 22, 'employee5@email.com')]

In [ ]:
etl.todb()

In [ ]:
conn = sqlite3.connect()